* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 800px;
  min-height: 600px;
}

.root__container {
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  width: 100%;
  flex-grow: 0;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
